{% extends "@ContaoCore/Backend/be_page.html.twig" %}

{% block headline %}
    <span id="theme-assistant-headline">{{ label.headline }}</span>
{% endblock %}

{% block error %}{% endblock %}

{% block main %}
    {% if messages %}
        {{ messages|raw }}
    {% endif %}

    <div id="tl_buttons">
        <a href="{{ action.back }}" class="header_back" title="{{ label.backTitle }}" accesskey="b">{{ label.backLabel }}</a>
    </div>

    <div class="tl_formbody_edit" id="theme-assistant">
        {% for section in sections %}
            <div class="assistant-module">
                {{ section.module|raw }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
