{% extends "@ContaoCore/Backend/be_page.html.twig" %}

{% block headline %}
    <div id="theme-assistant-headline">{{ label.headline }}</div>
    <div id="theme-assistant-buttons">
        <a href="{{ action.store }}" class="header_store content-store" target="_blank" title="{{ label.contentStore }}">{{ label.contentStore }}</a>
        <a href="{{ action.back }}" class="header_back" title="{{ label.backTitle }}" accesskey="b">{{ label.backLabel }}</a>
    </div>
{% endblock %}

{% block error %}{% endblock %}

{% block main %}
    {% if messages %}
        {{ messages|raw }}
    {% endif %}

    <div class="tl_formbody_edit" id="theme-assistant">
        {% for section in sections %}
            <div class="assistant-module">
                <h2>{{ section.title|raw }}</h2>
                {{ section.module|raw }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
