{% for contentPackage in files %}
    <div class="card">
        <div class="header" style="{% if contentPackage.manifest.color is defined %}color:{{ contentPackage.manifest.color }};{% endif %}">
            <span class="logo">
                {% if contentPackage.logo is defined %}
                    {{ contentPackage.logo|raw }}
                {% endif %}
            </span>
        </div>
        <div class="body">
            <div class="name">{{ contentPackage.manifest.name }}</div>
            <div class="tags">
                <div class="version">
                    {{ label.version}} {{ contentPackage.manifest.version }}
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="actions">
                <a href="#" data-template="content-import-template-{{ contentPackage.name }}" target="_blank" class="tl_submit import">{{ label.import }}</a>
            </div>
        </div>

        <template id="content-import-template-{{ contentPackage.name }}">
            <form action="{{ action.contentImport }}" method="post">
                <h2>{{ contentPackage.manifest.name }}</h2>
                <p>{{ label.importDesc }}</p>
                <div class="widget-container">
                    <div class="widget">
                        <h3><label for="ctrl_page">{{ label.pageEntry }}</label></h3>
                        <select name="page" id="ctrl_page" class="tl_select tl_chosen">
                            <option value="">{{ label.createRoot }}</option>
                            {% for id, name in pages %}
                                <option value="{{ id }}">{{ name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {#<div class="widget">
                        <h3><label for="ctrl_name">fefef<span class="mandatory">*</span></label></h3>
                        <input name="name" id="ctrl_name" class="tl_text" required/>
                    </div>#}
                </div>
                <input type="hidden" name="filepath" value="{{ contentPackage.realPath }}">
                <input type="hidden" name="REQUEST_TOKEN" value="{{ rt }}">
            </form>
        </template>
    </div>
{% endfor %}

{% if files == null %}
    <div class="card">
        <div class="header">
            <div class="logo"></div>
        </div>
        <div class="body">
            <div class="empty">{{ label.empty }}</div>
        </div>
        <div class="footer">
            <div class="actions">
                <a href="{{ action.store }}" target="_blank" class="tl_submit">{{ label.store }}</a>
            </div>
        </div>
    </div>
{% endif %}
