{% for contentPackage in files %}
    <div class="card">
        <div class="header" style="{% if contentPackage.manifest.color is defined %}color:{{ contentPackage.manifest.color }};{% endif %}">
            <span class="logo">
                {% if contentPackage.logo is defined %}
                    {{ contentPackage.logo|raw }}
                {% endif %}
            </span>
        </div>
        <div class="body">
            <div class="name">{{ contentPackage.manifest.name }}</div>
            <div class="tags">
                <div class="version">
                    {{ label.version}} {{ contentPackage.manifest.version }}
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="actions">
                <a href="{{ action.docs }}" target="_blank" class="tl_submit">{{ label.docs }}</a>
                <a href="{{ action.docs }}" target="_blank" class="tl_submit">{{ label.info }}</a>
            </div>
        </div>
    </div>
{% endfor %}

{% if files == null %}
    <div class="card">
        <div class="header">
            <div class="logo"></div>
        </div>
        <div class="body">
            <div class="empty">{{ label.empty }}</div>
        </div>
        <div class="footer">
            <div class="actions">
                <a href="{{ action.store }}" target="_blank" class="tl_submit">{{ label.store }}</a>
            </div>
        </div>
    </div>
{% endif %}
