<div class="card{% if manifest.name is defined %} installed{% endif %}">
    <div class="header" style="{% if manifest.color is defined %}color:{{ manifest.color }};{% endif %}">
        <span class="logo">
            {% if logo %}
                {{ logo|raw }}
            {% endif %}
        </span>
    </div>
    <div class="body">
        {% if manifest %}
            <div class="name">{{ manifest.name }}</div>
            <div class="tags">
                <div class="version">
                    {{ label.version}} {{ manifest.version }}
                </div>
            </div>
        {% else %}
            <div class="empty">{{ label.empty }}</div>
        {% endif %}
    </div>
    <div class="footer">
        {% if manifest %}
            <div class="actions">
                <a href="{{ link.docs }}" target="_blank" class="tl_submit">{{ label.docs }}</a>
                <a href="{{ link.docs }}" target="_blank" class="tl_submit">{{ label.info }}</a>
            </div>
        {% else %}
            <div class="actions">
                <a href="{{ link.store }}" target="_blank" class="tl_submit">{{ label.store }}</a>
            </div>
        {% endif %}
    </div>
</div>
